* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /*background-color: lighten($main-color, 10%);*/

    &::-webkit-scrollbar {
        width: 1vw;

        @media (max-width: $desktop-breakpoint) {
            width: 1.5vw;
        }
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: lighten(#444, 40%);
        border-radius: 5px;
    
        &:hover {
            background-color: lighten(#444, 30%);
        }
    }
    
    &::-webkit-scrollbar-track {
        background-color: none;//lighten(#444, 20%);
        //transition: all 1s ease 0s;
    
        &:hover {
            background-color: none;//lighten(#444, 10%);
        }
    }
}

.body-app {
    min-height: 100vh;
    /*padding-bottom: 1.2rem;*/
}

abbr {
    text-decoration: none;
}

hr {
    border: 1px solid #eee;
}

html, body {
    height: 100%;
}

body {
    color: $dark-grey;
    font-family: monospace, Helvetica, Arial ,sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    @media (max-width: $desktop-breakpoint) {
        line-height: 1.3;
    }
}

.active {
    font-weight: bolder;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

/*.is-active {
    font-weight: bold;
}*/