// Colors
$dark-grey: #333; //If you have the value all six numbers are the samen you can just use three
$grey: #666;
$blue: #4285F4;
$dark-blue: #364051;
$off-white: #f7f7f7;
$main-color: #171515;
$second-color: #764abc;
$green: rgb(64, 177, 64);
$red: firebrick;
//$orange-main: #F9B208;
//Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Sizing
$xxs-size: .3rem;
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$large-desktop-breakpoint: 75rem;