.delete-modal {
    background: lighten($main-color, 10%);
    border-radius: .3rem;
    color: $off-white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__paragraph {
    margin: 0 0 $m-size 0;
}

.modal__del-button {
    background-color: lighten($red, 25%);
    align-items: center;
    border: none;
    border-radius: 50px;
    color: #555;
    display: flex;
    font-weight: 700;
    height: 3rem;
    justify-content: center;
    margin: 0.2rem 0.3rem;
    transition: .3s ease;
    width: 9rem;

    &:hover {
        background-color: lighten($red, 15%);
    }
}