.loading-container {
    min-height: 55vh;
    min-width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-img {
        height: 5rem;
        width: 5rem;
    }
}